


@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

*,*::before,*::after{ padding: 0;  margin: 0;  box-sizing: border-box; user-select: none}

.App {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;


}

